{% extends "shared/layout.html" %}

{% block content %}
    <section class="page__section">
        <header class="page__header">
            <div class="container">
                <h1 style="text-align: center;">FAQ - Perguntas Frequentes</h1>
            </div>
        </header>
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                1. Como anunciar o meu negócio no site?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Basta entrar em contato conosco pelo WhatsApp (326) 213-6008,
                                vamos preencher um cadastro com informações sobre o seu negócio e criar um anúncio no
                                site.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                2. Quem pode anunciar no site?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Qualquer brasileiro residente nos Estados Unidos que ofereça um
                                serviço
                                ou venda algum produto/comida e esteja interessado em divulgar para a comunidade
                                brasileira
                                residente no país.
                                Pessoas não-brasileiras também podem divulgar desde que sejam indicações de brasileiros
                                devido a
                                algumas regiões possuírem uma comunidade menor e baixa oferta de profissionais e
                                serviços.

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                3. Quanto custa para colocar meu negócio no site?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                O espaço publicitário no site tem o custo mensal de US$ 14.50.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFour" aria-expanded="false"
                                    aria-controls="flush-collapseFour">
                                4. Quais são as formas de pagamento?
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Inicialmente, estamos aceitando transações apenas via Zelle,
                                mas estamos trabalhando no sistema de cobrança do site via cartão de crédito e PayPal.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFive" aria-expanded="false"
                                    aria-controls="flush-collapseFive">
                                5. Devo pagar comissão ou alguma porcentagem do meu serviço para o site?
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Não. O Brasil na Gringa não solicita nenhum tipo de cobrança além da mensalidade de US$
                                14.50,
                                independente da aquisição de clientes e quantidade de negócios fechados por origem da
                                divulgação no site.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseSix" aria-expanded="false"
                                    aria-controls="flush-collapseSix">
                                6. Posso cancelar a divulgação do meu negócio no site?
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Sim. Você pode cancelar a divulgação e para isso basta entrar em contato com o nosso
                                suporte
                                via WhatsApp durante o horário de atendimento e solicitar o cancelamento.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseSeven" aria-expanded="false"
                                    aria-controls="flush-collapseSeven">
                                7. Como os usuários do site encontrarão o meu negócio?
                            </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Na página inicial do site, existe uma barra de pesquisa onde o usuário pode escrever o
                                serviço que está procurando e o
                                Estado onde reside. Como resultado, aparecerão empresas e profissionais brasileiros que
                                ofereçam o termo pesquisado.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseEight" aria-expanded="false"
                                    aria-controls="flush-collapseEight">
                                8. Como os usuários do site entrarão em contato comigo para fechar negócio?
                            </button>
                        </h2>
                        <div id="flush-collapseEight" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Todos os anúncios oferecem a divulgação do link do WhatsApp da empresa/profissional,
                                link para o Instagram e link para website da empresa.
                                Quando um usuário clicar no link do WhatsApp, a conversa é direcionada para o seu
                                contato
                                com uma mensagem automática que ele viu o seu anúncio no Brasil na Gringa,
                                assim você saberá que ele viu seu anúncio em nosso site.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseNine" aria-expanded="false"
                                    aria-controls="flush-collapseNine">
                                9. Posso solicitar alteração do meu anúncio? Serei cobrado por isso?
                            </button>
                        </h2>
                        <div id="flush-collapseNine" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Sim. Você pode alterar informações e fotos do seu anúncio a qualquer momento
                                sem nenhuma cobrança adicional.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTen" aria-expanded="false"
                                    aria-controls="flush-collapseTen">
                                10. Quais meios de divulgação são utilizados para atrair usuários para o site?
                            </button>
                        </h2>
                        <div id="flush-collapseTen" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                O Brasil na Gringa está iniciando um canal no Instagram, porém temos parcerias com
                                influenciadores no Instagram e YouTube com um grande público brasileiro já definido para
                                trabalhar na divulgação do site, bem como dos profissionais que anunciam conosco.
                                Também trabalhamos com campanhas patrocinadas no Google (tráfego pago) e em grupos de
                                Facebook.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseEleven" aria-expanded="false"
                                    aria-controls="flush-collapseEleven">
                                11. Apenas brasileiros podem pesquisar no site e encontrar empresas?
                            </button>
                        </h2>
                        <div id="flush-collapseEleven" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Não. O site está disponível para todo o Estados Unidos, no entanto, ele está apenas em
                                português porque o foco é ajudar a comunidade brasileira na oferta e procura de serviços
                                e
                                produtos.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwelve" aria-expanded="false"
                                    aria-controls="flush-collapseTwelve">
                                12. Apenas empresas de brasileiros podem anunciar no site?
                            </button>
                        </h2>
                        <div id="flush-collapseTwelve" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                A preferência é para empresas e profissionais brasileiros, no entanto, em alguns
                                estados, a
                                comunidade brasileira é menor e não há profissionais qualificados para atender a
                                comunidade.
                                Neste caso, abrimos para profissionais de outras nacionalidades, desde que tenham sido
                                indicações de brasileiros que já usufruíram do serviço.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}