{% extends 'shared/layout.html' %}

{% block content %}
  <section class="page__section">
    <header class="page__header">
      <div class="container">
        <h1 style="text-align: center;">Política de Privacidade</h1>
      </div>
    </header>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Política de Privacidade</li>
        </ol>
      </nav>

      <p>Bem-vindo ao nosso website Brasil na Gringa dedicado a empresas e prestadores de serviços que sejam brasileiros mas residem nos Estados Unidos. Antes de utilizar nossos serviços, solicitamos que leia atentamente as políticas de uso e privacidade descritas abaixo.</p>

      <h2>Coleta de Informações</h2>
      <p>Ao utilizar nosso website, poderemos coletar informações pessoais e não pessoais para melhorar a experiência do usuário e oferecer serviços personalizados. Essas informações podem incluir, mas não estão limitadas a: nome, endereço de e-mail, informações da empresa, informações de pagamento, e dados de navegação.</p>

      <h2>Uso das Informações</h2>
      <p>As informações coletadas serão utilizadas para personalizar a experiência do usuário, processar transações, fornecer suporte ao cliente e melhorar nossos serviços. Garantimos que suas informações serão tratadas com confidencialidade e não serão compartilhadas, vendidas ou alugadas a terceiros para fins de marketing.</p>

      <h2>Publicidade</h2>
      <p>Nosso website oferece espaços publicitários para empresas e prestadores de serviços anunciarem seus produtos ou serviços. Esclarecemos que não nos responsabilizamos pela intermediação entre empresas e clientes, nem pelos serviços ou produtos anunciados. Nosso papel é exclusivamente disponibilizar espaço publicitário para divulgação dos mesmos.</p>

      <h2>Responsabilidade</h2>
      <p>Não nos responsabilizamos por eventuais transações comerciais ou desentendimentos entre empresas e clientes decorrentes dos anúncios veiculados em nosso website. Recomendamos que todas as partes envolvidas estejam atentas e realizem suas próprias verificações antes de realizar negócios. Reiteramos que nosso website é somente um meio de veiculação, não de intermediação de negócios e não recebemos qualquer valor e/ou comissão referente à transação efetuada entre o cliente e o estabelecimento.</p>

      <h2>Segurança</h2>
      <p>Implementamos medidas de segurança para proteger suas informações contra acesso não autorizado, alteração, divulgação ou destruição. Todos os dados são protegidos em nosso site e o uso indevido é carente de processo judicial e/ou ocorrências extrajudiciais, de acordo com os códigos penais brasileiro e estado-unidense.</p>

      <h2>Cookies</h2>
      <p>Utilizamos cookies para melhorar a experiência de navegação. Os cookies podem ser desativados nas configurações do navegador, mas isso pode afetar a funcionalidade do website. Cookies de localização são opcionais mas garantem uma melhor resposta do nosso servidor para apresentação de resultados.</p>

      <h2>Alterações na Política</h2>
      <p>Reservamo-nos o direito de modificar esta política a qualquer momento. Recomendamos que os usuários revejam regularmente este documento para se manterem informados sobre as práticas de privacidade. Ao utilizar nosso website, você concorda com os termos desta política. Se não concordar com esta política, por favor, não utilize nossos serviços.</p>
      <p>Se tiver alguma dúvida ou preocupação, entre em contato conosco por meio dos canais de suporte disponibilizados em nosso website. Obrigado por escolher o Brasil na Gringa.</p>
    </div>
  </section>
{% endblock %}
